.App {
  /* text-align: center; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

#App-header {
  margin: 0 2.4rem;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

#add-company {
  background-color: #03adfc;
  height: 340px;
  overflow: hidden;
}

#form-block {
  margin: 2.4rem auto;
  padding: 1.2rem 2.6rem;
  background-color: #eee;
  max-width: 400px;
  /* height: 80%; */
}

.form-row {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 4px;
  text-align: center;
}

.form-row input {
  width: 90%;
  margin: 0 auto;
  padding: 2px;
  font-family: inherit;
  font-size: 0.8em;
  border: 1px solid #aaa;

}

#submit-button {
  margin: 1rem auto 0.4rem;
  text-align: center;
}

#submit-button input {
  padding: 7px 12px;
  background-color: orangered;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#submit-button input:hover {
  background-color: orange;
}

#companies-table {
  margin: 2rem auto 3rem;
  max-width: 1000px;
  /* display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh; */
}

select {
  font-family: inherit;
  font-size: 0.8em;
  border: 1px solid #aaa;
  border-radius: 0;
  padding: 2px;
  line-height: 1.4;
  width: 90%;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  appearance: none;
  -moz-appearance: none;
	-webkit-appearance: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* margin-bottom: 3rem; */
}

th, td {
  text-align: left;
  padding: 0.4rem;
  border-bottom: 1px solid #ddd;
}

th {
  border-width: 2px;
}

td {
  color: hsla(0, 0%, 0%, 0.6);
  /* color: aqua; */
}

button {
  margin: 0 0.2rem;
  padding: 2px 4px;
  background-color: orangered;
  border: none;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background-color: orange;
}
